<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
     <add name="ISISConnectionString" connectionString="Data Source=SQL1.nexus.uwaterloo.ca;Initial Catalog=itc-isis;Integrated Security=True"/> 
     <add name="ISISConnectionStringTest" connectionString="Data Source=sql2012dev.nexus.uwaterloo.ca;Initial Catalog=itc-isis-test;Integrated Security=True" />
  </connectionStrings>
</configuration>
